name: Deploy MkDocs Sites to GitHub Pages

on:
  push:
    branches:
      - main
    
permissions:
  contents: write

jobs:
  deploy-sites:
    name: Deploy MkDocs Sites
    runs-on: ubuntu-latest
        
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      
      - name: Install MkDocs and plugins
        run: |
          pip install --upgrade pip
          pip install mkdocs-material mkdocs-glightbox mkdocs-print-site-plugin mkdocs-jupyter
      
      - name: Build COP site
        run: |
          cd exb/cop
          mkdocs build --site-dir ../../site/cop
      
      - name: Copy landing page
        run: |
          cp index.html site/index.html
      
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./site
          keep_files: true