name: Deploy MkDocs Sites to GitHub Pages

on:
  push:
    branches:
      - main
    
permissions:
  contents: write

jobs:
  deploy-cop:
    name: Deploy VEM COP Documentation
    runs-on: ubuntu-latest
        
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      
      - name: Install MkDocs and plugins
        run: |
          pip install --upgrade pip
          pip install mkdocs-material mkdocs-glightbox mkdocs-print-site-plugin mkdocs-jupyter
      
      - name: Build and Deploy COP Docs
        run: |
          cd exb/cop
          mkdocs gh-deploy --force --config-file mkdocs.yml --remote-branch gh-pages